# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store

# Ignore environment variables
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore build/dist folders
build/
dist/
*.egg-info/

# Optional: VS Code settings
.vscode/
.idea/
